select {
    width: 30%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    border: 2px solid midnightblue;
    color: midnightblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.inputs{
    font-size: 1em;
    color: midnightblue;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 120%;
    width: 400px;
    border: 2px solid midnightblue;
    border-radius: 4px;
    padding: 6px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.inputs:focus {
    border: 3px solid midnightblue;
}

a{
    font-weight:bold;
    color:lightblue;
    font-family: "Times New Roman", Times, serif;
    
    font-style: italic;
    font-size: 1em;
    text-decoration:none;
    padding-right:10px;
}
a:hover{
    color: midnightblue;
}
.label{
    color:gold;
    font-style:italic;
    font-weight:bold;
    font-variant:small-caps;
    font-family: georgia;
    font-size:120%;
}
#h{
    color: gold;
    font-style:italic;
    font-weight:bold;
    font-variant:small-caps;
    font-family: georgia;
    font-size:200%;
    }
body{
    border: 1px solid grey;
    margin: 5% 20% 20% 20%;
    background-color:grey;
    padding:5% 5% 5% 10% ;
    border-radius: 2px;
}
#list{
    color:lightblue;
    list-style-type:none;
    display:none;
    }
li:hover{
    color:green;
    background-color:grey;
    cursor: pointer;
    }
#p{
    color:midnightblue;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 1.2em;
}
button {
    padding: 5px 25px 5px 25px;
    background-color: gold;
    border-radius: 2px;
    color: slategrey;
    text-align: center;
    text-decoration: none;
    border-radius:4px;
    cursor: pointer;
    font-weight:bold
}
#p2{
    font-weight:bold;
}
